@page
@model Ids.SimpleAdmin.Frontend.Areas.SimpleAdmin.Pages.User.IndexModel
@{
    Layout = "_NestedIndexLayout";
}

<index-header>
    <div class="col">User name</div>
    <div class="col">Email</div>
    <div class="col">Phone number</div>
    <div class="col-2"></div>
</index-header>


@foreach (var item in Model.List.Items)
{
    <index-row identitfier="@item.Id" title="user">
        <div class="col">
            @item.UserName
        </div>
        <div class="col">
            @item.Email
        </div>
        <div class="col">
            @item.PhoneNumber
        </div>
    </index-row>
}

@section Pagenation{
    <partial name="_Pagenation" model="Model.List.ToPagenationInfo()" />
}
