<div class="modal fade" id="modal-remove" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">    
            <div class="modal-body">
                <div class="alert alert-danger" role="alert" id="remove-text">
                    Are you sure you want to delete this item ?
                </div>
                <div class="row">
                    <div class="col text-right">
                        <button type="button" class="btn btn-secondary btn-sm" id="dismisModal" onclick="DismisRemove();">Cancel</button>
                        <button type="button" class="btn btn-success btn-sm" id="dismisModalSuccess" onclick="onRemoveConfirmed();">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
