@model ResourcePropertyValues
@{
    var activeClass = Model.IsActive ? "active" : string.Empty;
}
<a class="nav-item nav-link @activeClass"
   id="@Model.NavTabId"
   data-toggle="tab"
   href="#@Model.NavPaneIdOverview"
   role="tab"
   aria-controls="@Model.NavPaneIdOverview"
   aria-selected="true">@Model.Name</a>
