@model ResourcePropertyInfo

<br />
<table class="table table-striped border border-dark">
    <thead class="thead-dark">
        <tr>
            <th scope="col" class="align-middle">

                <input type="submit" class="btn btn-info" value="&#10004;" form="#" onclick="@("Set"+Model.Name+"()")" />
            </th>
            @for (var i = 0; i < Model.Columns.Count; i++)
            {
                <th scope="col" class="align-middle">@Model.Columns[i]</th>
            }
            <th scope="col" class="align-middle"></th>
        </tr>
    </thead>
    <tbody id="@Model.Name.ToLower()TableBody">
    </tbody>
    <caption>
        <nav>
            <ul class="pagination">
                <li class="page-item active">
                    <input type="submit" class="btn btn-info" value="&#10004;" form="#" onclick="@("Set"+Model.Name+"()")" />
                </li>
            </ul>
        </nav>
    </caption>
</table>