@model Ids.SimpleAdmin.Frontend.Areas.SimpleAdmin.Pages.Shared.Components.Table.TableData
<table class="w-100">
    <tbody class="w-100" id="@Model.BodyId">
        <!--Content-->
    </tbody>
</table>