@page
@model Ids.SimpleAdmin.Frontend.Areas.SimpleAdmin.Pages.ApiResources.AddModel
@{
    Layout = "_NestedResourceLayout";
}

@section NavTabs{
    @foreach (var item in Model.ResourceProperties)
    {
        <a class="nav-item nav-link" id="@item.Name.ToLower()tab" data-toggle="tab" href="#@item.Name.ToLower()" role="tab">Claims</a>
    }
}

@section Basesettings{
    <div class="form-group">
        <label class="col-form-label">Name</label>
        <input type="text" class="form-control" id="name" name="dto.Name">
    </div>
    <div class="form-group">
        <label class="col-form-label">Display name</label>
        <input type="text" class="form-control" id="displayName" name="dto.DisplayName">
    </div>
    <div class="form-group">
        <label class="col-form-label">Description</label>
        <textarea class="form-control" id="description" name="dto.Description"></textarea>
    </div>
    <div class="form-group">
        <label class="col-form-label">Allowed access token signing algorithmes</label>
        <textarea class="form-control" id="allowedAlgorithmes" name="dto.AllowedAccessTokenSigningAlgorithms"></textarea>
    </div>
    <fieldset class="form-group">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="enabled" name="dto.Enabled" value="True" />
            <label class="form-check-label">Is enabled</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="nonEditable" name="dto.NonEditable" value="True" />
            <label class="form-check-label">Is non-editable</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="showInDiscovery" name="dto.ShowInDiscoveryDocument" value="True" />
            <label class="form-check-label">Show in discovery document</label>
        </div>
    </fieldset>
}

@section ResourceProperties{
    @foreach (var item in Model.ResourceProperties)
    {
        <div class="tab-pane fade" id="@item.Name.ToLower()" role="tabpanel">
            <partial name="_ResourcePropertyTable" model="item" />
            <partial name="_ResourcePropertyModal" model="item" />
        </div>
    }
}

@section Scripts{
    <script type="text/javascript">
        function SetClaim() {
            var input = {
                handler: 'Claims',
                Id: null,
                Type: $('#claim').val(),
                ApiResourceId: null
            };
            var element = $('#claimsTableBody');
            AppendTableRow(input, element);
            $('#claim').val('');
        }
        function SetProperty() {
            var input = {
                handler: 'Properties',
                Id: null,
                Value: $('#property').val(),
                Key: $('#key').val(),
                ApiResourceId: null
            };
            var element = $('#propertiesTableBody');
            AppendTableRow(input, element);
            $('#property').val('');
            $('#key').val('');
        }
        function SetScope() {
            var input = {
                handler: 'Scope',
                Id: null,
                Scope: $('#scope').val(),
                ApiResourceId: null
            };
            var element = $('#scopeTableBody');
            AppendTableRow(input, element);
            $('#scope').val('');
        }
        function SetSecret() {
            var input = {
                handler: 'Secret',
                Id: null,
                Description: $('#description').val(),
                Value: $('#value').val(),
                Expiration: $('#expiration').val(),
                Type: $('#type').val(),
                ApiResourceId: null
            };
            var element = $('#secretTableBody');
            AppendTableRow(input, element);
            $('#description').val('');
            $('#value').val('');
            $('#expiration').val('');
            $('#type').val('');
        }
    </script>
}
