@model List<ClaimsContract>
<collapsable title="Claims" error-summary="_validationCache.ClaimsSummary(Model)">
    <list-table body-id="claim-list">
        <tr>
            <td class="w-100 pl-2">Type</td>
            <new partial-name="Partials/_Claim" append-element="claim-list"></new>
        </tr>
        @if (!Model.IsNull())
        {
            foreach (var item in Model)
            {
                <partial name="Partials/_Claim" model="@item" />
            }
        }
    </list-table>
    <br />
</collapsable>