@model List<SecretsContract>
<collapsable title="Secrets">
    <list-table body-id="secrets-list">
        <tr>
            <td>&nbsp;</td>
            <td>Type</td>
            <td>Value</td>
            <td>Description</td>
            <td>Expiration</td>
            <new partial-name="Partials/_Secret" append-element="secrets-list"></new>
        </tr>
        @if (!Model.IsNull())
        {
            foreach (var item in Model)
            {
                <partial name="Partials/_Secret" model="@item" />
            }
        }
    </list-table>
    <br />
</collapsable>