@model List<ValueClaimsContract>
<collapsable title="Claims" error-summary="_validationCache.ClaimsSummary(Model)">
    <list-table body-id="vclaims-list">
        <tr>
            <td class="w-50 pl-2 ">Type</td>
            <td class="w-50 px-2 ">Value</td>
            <new partial-name="Partials/_ValueClaim" append-element="vclaims-list"></new>
        </tr>
        @if (!Model.IsNull())
        {
            foreach (var item in Model)
            {
                <partial name="Partials/_ValueClaim" model="@item" />
            }
        }
    </list-table>
    <br />
</collapsable>