@model ApiResourceClaimsContract
@{
    var idx = Guid.NewGuid();
}
<tr>
    <td>
        <input type="button" class="btn" />
    </td>
    <td>
        @Model.Type
        <input class="form-control" type="hidden" name="dto.ApiResourceClaims[@idx].Id" value="@Model.Id" />
        <input class="form-control" type="hidden" name="dto.ApiResourceClaims[@idx].ApiResourceId" value="@Model.ApiResourceId" />
        <input class="form-control" type="hidden" name="dto.ApiResourceClaims[@idx].Type" value="@Model.Type" />
    </td>
    <td>
        <input type="button" class="btn" />
    </td>
</tr>