@model ApiResourceScopesContract
@{
    var idx = Guid.NewGuid();
}
<tr>
    <td>
        <input type="button" class="btn" />
    </td>
    <td>
        @Model.Scope
        <input class="form-control" type="hidden" name="dto.ApiResourceClaims[@idx].Id" value="@Model.Id" />
        <input class="form-control" type="hidden" name="dto.ApiResourceClaims[@idx].ApiResourceId" value="@Model.ApiResourceId" />
        <input class="form-control" type="hidden" name="dto.ApiResourceClaims[@idx].Scope" value="@Model.Scope" />
    </td>
    <td>
        <input type="button" class="btn" />
    </td>
</tr>