@model ApiResourceSecretsContract
@{
    var idx = Guid.NewGuid().ToString().Replace("-", "");
}
<tr>
    <td>
        <button form="#" class="btn btn-success" onclick="ToggleEdit(this);"></button>
        <input type="hidden" name="dto.ApiResourceSecrets.index" value="@idx" />
        <input type="hidden" name="dto.ApiResourceSecrets[@idx].Id" value="@Model?.Id" />
        <input type="hidden" name="dto.ApiResourceSecrets[@idx].ApiResourceId" value="@Model?.ApiResourceId" />
    </td>
    <td>
        <input type="text" name="dto.ApiResourceSecrets[@idx].Type" value="@Model?.Type" class="form-control" />
    </td>
    <td>
        <input type="text" name="dto.ApiResourceSecrets[@idx].Value" value="@Model?.Value" class="form-control" />
    </td>
    <td>
        <textarea name="dto.ApiResourceSecrets[@idx].Description" class="form-control" rows="1" onfocus="SetRowCount(this, 5);" onblur="SetRowCount(this, 1);" style="resize: none;">@Model?.Description</textarea>
    </td>
    <td>
        <input type="datetime-local" name="dto.ApiResourceSecrets[@idx].Expiration" value="@Model?.Expiration" class="form-control" />
    </td>
    <td>
        <input type="button" class="btn" />
    </td>
</tr>