@using Ids.SimpleAdmin.Backend.Validators
@model ApiResourceClaimsContract
@{
    var validationResult = ApiResourceClaimsValidator.GetValidationErrors(Model);
    var idx = Guid.NewGuid();
    var disabled = Model != null ? "disabled" : string.Empty;
    var disabledClass = Model != null ? "border-0 bg-transparent" : string.Empty;
    var disabledBtn = Model != null ? "btn-info" : "btn-success";
}
<tr>
    <td>
        <button type="button"
                class="btn @disabledBtn btn-block"
                onclick="ToggleEdit(this);"></button>
    </td>
    <td>
        <input type="hidden" name="dto.UserClaims.index" value="@idx" />
        <input type="hidden" name="dto.UserClaims[@idx].Id" value="@Model?.Id" />
        <input type="hidden" name="dto.UserClaims[@idx].ApiResourceId" value="@Model?.ApiResourceId" />
        <input type="text"
               name="dto.UserClaims[@idx].Type"
               value="@Model?.Type"
               class="form-control @disabledClass" @disabled />
        <partial name="_ValidationNotificationPartial" model="@validationResult["Type"]" />
    </td>
    <td>
        <button type="button"
                class="btn btn-outline-danger btn-block float-right"
                onclick="SetRemoveModal(this, 'dto.ApiResourceClaims[@idx].Type');"
                data-toggle="modal" data-target="#removeRowModal">
        </button>
    </td>
</tr>