@model ApiResourceClaimsContract
@{
    var idx = Guid.NewGuid();
}
<tr>
    <td>
        <button form="#" class="btn btn-success" onclick="ToggleEdit(this);"></button>
    </td>
    <td>
        @*<input type="text" class="form-control border-0 bg-transparent " value="@Model.Type" />*@
        <input type="hidden" name="dto.ApiResourceClaims.index" value="@idx" />
        <input type="hidden" name="dto.ApiResourceClaims[@idx].Id" value="@Model?.Id" />
        <input type="hidden" name="dto.ApiResourceClaims[@idx].ApiResourceId" value="@Model?.ApiResourceId" />
        <input type="text" name="dto.ApiResourceClaims[@idx].Type" value="@Model?.Type" class="form-control"/>
    </td>
    <td>
        <button type="button" class="btn btn-danger" onclick="SetRemoveModal(this, 'dto.ApiResourceClaims[@idx].Type');" data-toggle="modal" data-target="#removeRowModal"></button>
    </td>
</tr>