@model Ids.SimpleAdmin.Frontend.Areas.SimpleAdmin.Pages.Shared.Components.DeleteButton.ButtonDataData
<button type="button"
        class="btn btn-sm btn-outline-danger float-right m-1"
        onclick="RemoveClassElement('@Model.Target', '@Model.Title.ToLowerInvariant()');">
    Delete
</button>