@model PropertRowModel
@{
}
<tr>
    <td scope="col" class="border-top-0">
        @*<div class="centercontent">
            <button class="btn btn-danger btn-sm addClaimRemove" onclick="RemoveClaim(this, event);"></button>
            <input type="hidden" name="dto.Property[' + property + '].PropertyValue" value="' + property + '" />
            <input type="hidden" name="dto.Property[' + propertyKey + '].Key" value="' + propertyKey + '" />
        </div>*@
    </td>
    <td scope="col" class="border-top-0">
        <div class="centercontent">
            @Model.Property
        </div>
    </td>
    <td scope="col" class="border-top-0">
        <div class="centercontent">
            @Model.PropertyKey
        </div>
    </td>
    <td scope="col" class="border-top-0">
        <div class="centercontent">
            &ensp;
        </div>
    </td>
</tr>