@{
}
<tr>
    <td scope="col" class="border-top-0">
        <div class="centercontent">
            &ensp;
        </div>
    </td>
    <td scope="col" class="border-top-0">
        <div class="centercontent">
            asd
        </div>
    </td>
    <td scope="col" class="border-top-0">
        <div class="centercontent">
            asd
        </div>
    </td>
    <td scope="col" class="border-top-0">
        <div class="centercontent">
            &ensp;
        </div>
    </td>
</tr>