@page
@model RazorTestLibrary.Areas.SimpleAdmin.Pages.ApiResources.IndexModel
@{
    Layout = "_NestedIndexLayout";
}


<div>
    <a asp-fragment="notes">Click</a>
</div>


@section TableHead {
    <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Display name</th>
        <th scope="col">Description</th>
        <th scope="col"></th>
    </tr>
}

@section TableBody{
    <tr>
        <td scope="row">
            <a asp-page="Add"  asp-route-id="1">Click</a>
        </td>
        <td>
            <a asp-page="Edit">Click</a>
        </td>
        <td>
            <a asp-fragment="notes">Click</a>
        </td>
        <td>
        </td>
        <td>
        </td>
    </tr>
}



}
@section Pagenation{
    @*<partial name="_Pagenation" model="Model.List.ToPagenationInfo()" />*@
}