@{
    Layout = "_Layout";
}
<div class="container">
    <div class="card">
        @await Component.InvokeAsync("Header")
        <div class="card-body">
            @RenderBody()
        </div>
    </div>
</div>

<partial name="_Modal" />

@section Scripts{
    <partial name="_SharedScripts" />
    @RenderSection("Scripts", required: false)
}