@page
@model Ids.SimpleAdmin.Frontend.Areas.SimpleAdmin.Pages.IndexModel
@{
}
<div class="card">
    <div class="card-header">
        <h5 class="mb-1">Welcome to Simple Admin</h5>
        <p class="card-text"><small class="text-muted">Select area to manage</small></p>
    </div>
    <div class="card-body">
        @*<a asp-area="SimpleAdmin" asp-page="/User/Index" class="btn btn-outline-primary btn-lg btn-block text-left">Users</a>
        <a asp-area="SimpleAdmin" asp-page="/Roles/Index" class="btn btn-outline-primary btn-lg btn-block text-left">Roles</a>
        <a asp-area="SimpleAdmin" asp-page="/Clients/Index" class="btn btn-outline-primary btn-lg btn-block text-left">Clients</a>
        <a asp-area="SimpleAdmin" asp-page="/ApiScope/Index" class="btn btn-outline-primary btn-lg btn-block text-left">Api scopes</a>
        <a asp-area="SimpleAdmin" asp-page="/ApiResources/Index" class="btn btn-outline-primary btn-lg btn-block text-left">Api resources</a>
        <a asp-area="SimpleAdmin" asp-page="/IdentityResources/Index" class="btn btn-outline-primary btn-lg btn-block text-left">Identity resources</a>*@
        <a asp-area="SimpleAdmin" asp-page="/User/Index" class="btn btn-outline-primary  btn-block text-left">Users</a>
        <a asp-area="SimpleAdmin" asp-page="/Roles/Index" class="btn btn-outline-primary  btn-block text-left">Roles</a>
        <a asp-area="SimpleAdmin" asp-page="/Clients/Index" class="btn btn-outline-primary  btn-block text-left">Clients</a>
        <a asp-area="SimpleAdmin" asp-page="/ApiScope/Index" class="btn btn-outline-primary btn-block text-left">Api scopes</a>
        <a asp-area="SimpleAdmin" asp-page="/ApiResources/Index" class="btn btn-outline-primary  btn-block text-left">Api resources</a>
        <a asp-area="SimpleAdmin" asp-page="/IdentityResources/Index" class="btn btn-outline-primary  btn-block text-left">Identity resources</a>
    </div>
</div>