@model Ids.SimpleAdmin.Frontend.Areas.SimpleAdmin.Pages.Shared.Components.Content.ContentData
@{
    var btnColor = Model.HasError ? "btn-outline-danger" : "btn-outline-primary";
}
<div class="row my-2">
    <div class="col">
        <a class="btn @btnColor btn-block text-left collapsed"
           data-toggle="collapse"
           href="#@Model.Title.Replace(' ','-').ToLowerInvariant()"
           role="button">
            <div class="d-flex flex-row justify-content-between">
                <div>
                    @Model.Title
                </div>
                <div>
                    @if (Model.HasError)
                    {
                        <span class="badge badge-danger">@Model.ErrorCount</span>
                    }
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row collapse my-2" id="@Model.Title.Replace(' ','-').ToLowerInvariant()">
    <div class="col-12 px-4">
        <!--Body-->
    </div>
    <div class="col-12">
        <a class="btn btn-light btn-sm btn-block border-secondary text-center collapsed"
           data-toggle="collapse"
           href="#@Model.Title.Replace(' ','-').ToLowerInvariant()"
           role="button">
            Close
        </a>
    </div>
</div>