@model ClientGrantTypesContract
@{
    var idx = Guid.NewGuid().ToString().ToLowerInvariant();
    var delete = "grant-type-" + idx + "-d";
}
<tr>
    <td>
        <input type="hidden" name="dto.GrantTypes.index" value="@idx" />
        <input type="hidden" name="dto.GrantTypes[@idx].Id" value="@Model?.Id" />
        <input type="hidden" name="dto.GrantTypes[@idx].ClientId" value="@Model?.ClientId" />
        <input type="text"
               name="dto.GrantTypes[@idx].GrantType"
               value="@Model?.GrantType"
               class="form-control form-control-sm ml-1" />
    </td>
    <delete title="grant type" target="@delete"></delete>
</tr> 