@model ScopeContract
@{
    var idx = Guid.NewGuid().ToString().ToLowerInvariant();
    var delete = "scope-" + idx + "-d";
  }
<tr class="border-top border-bottom bg-light @delete">
    <td>
        <input type="hidden" name="dto.Scopes.index" value="@idx" />
        <input type="hidden" name="dto.Scopes[@idx].Id" value="@Model?.Id" />
        <input type="text"
               name="dto.Scopes[@idx].Scope"
               value="@Model?.Scope"
               class="form-control form-control-sm ml-1"  />
    </td>
    <td>

        <button type="button"
                class="btn btn-sm btn-outline-danger float-right m-1"
                onclick="RemoveClassElement('@delete');">
            Delete
        </button>
    </td>
</tr>