@page
@model Ids.SimpleAdmin.Frontend.Areas.SimpleAdmin.Pages.Roles.IndexModel
@{
    Layout = "_NestedIndexLayout";
}

<index-header>
    <div class="col">Name</div>
    <div class="col">Normalized name</div>
    <div class="col-2"></div>
</index-header>

@foreach (var item in Model.List.Items)
{
    <index-row identitfier="@item.Id" title="role">
        <div class="col">
            @item.Name
        </div>
        <div class="col">
            @item.NormalizedName
        </div>
    </index-row>
}

@section Pagenation{
    <partial name="_Pagenation" model="Model.List.ToPagenationInfo()" />
}
