@model Ids.SimpleAdmin.Frontend.Areas.SimpleAdmin.Pages.Clients.InfoModel

<collapsable title="Claims" error-summary="_validationCache.ClaimsSummary(Model?.Data)">
    <div class="form-group">
        <label class="col-form-label">Client claims prefix</label>
        @_validationCache.ErrorMessage(Model?.Data, nameof(Model.Data.ClientClaimsPrefix), out var inputColor)
        <input type="text" class="form-control @inputColor" id="name" name="dto.ClientClaimsPrefix" value="@Model?.Data?.ClientClaimsPrefix">
    </div>
    <br />
    <list-table body-id="claims-list">
        <tr>
            <td class="w-50 pl-2 ">Type</td>
            <td class="w-50 px-2 ">Value</td>
            <new partial-name="Partials/_ValueClaim" append-element="claims-list"></new>
        </tr>
        @if (Model?.Data?.Claims is not null)
        {
            foreach (var item in Model?.Data?.Claims)
            {
            <partial name="Partials/_ValueClaim" model="@item" />
            }
        }
    </list-table>
    <br />
</collapsable>