@page
@model Ids.SimpleAdmin.Frontend.Areas.SimpleAdmin.Pages.Clients.IndexModel
@{
    Layout = "_NestedIndexLayout";
}

<index-header>
    <div class="col">
        Client Id
    </div>
    <div class="col">
        Client Name
    </div>
    <div class="col">
        Description
    </div>
    <div class="col-2"></div>
</index-header>

@foreach (var item in Model.List.Items)
{
    <index-row identitfier="@item.Id" title="client">
        <div class="col">
            @item.ClientId
        </div>
        <div class="col">
            @item.ClientName
        </div>
        <div class="col">
            @item.Description
        </div>
    </index-row>
}

@section Pagenation{
    <partial name="_Pagenation" model="Model.List.ToPagenationInfo()" />
}