<div class="form-group">
    <label class="col-form-label">Value</label>
    <input type="text" id="propertiesValue" class="form-control" />
</div>
<div class="form-group">
    <label class="col-form-label">Key</label>
    <input type="text" id="propertiesKey" class="form-control" />
</div>